Repository asdf8601/asdfff.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,mjs,cjs,ts,astro}": ["eslint --fix", "prettier --write"],
  "*.css": ["stylelint --fix", "prettier --write"],
  "*.astro": ["stylelint --fix", "prettier --write"],
  "*.{json,md,mdx}": ["prettier --write"]
}

fix(ui): fit the mobile header in two rows
  src/components/Search.astro
  src/layouts/BaseLayout.astro
Due: eslint --fix, prettier --write, stylelint --fix

chore(lint): ignore build output and worktrees in local lint
  .prettierignore
  .stylelintignore
  eslint.config.js
Due: eslint --fix, prettier --write

style(ui): prettier formatting for the mobile nav block
  src/layouts/BaseLayout.astro
Due: eslint --fix, prettier --write, stylelint --fix

fix(search): log search index load failures
  src/pages/search.astro
Due: eslint --fix, prettier --write, stylelint --fix

fix: quote search links, exrc snippet, mobile header and local lint (#23)
  .prettierignore
  .stylelintignore
  eslint.config.js
  generate-search-data.js
  public/search-data.json
  src/components/Search.astro
  src/content/quotes/example.md
  src/content/quotes/gautama-buda-dhammapada-los-sabios-se-dirigen-a-si-mismos.md
  src/content/til/neovim-opt-exrc.md
  src/layouts/BaseLayout.astro
  src/pages/index.astro
  src/pages/quotes.astro
  src/pages/search.astro
Due: eslint --fix, prettier --write, stylelint --fix

feat(ui): japanese-inspired minimal theme
  astro.config.mjs
  public/search-data.json
  src/components/Card.astro
  src/components/PageSearchModal.astro
  src/components/Search.astro
  src/components/ThemeToggle.astro
  src/layouts/BaseLayout.astro
  src/layouts/PostLayout.astro
  src/pages/404.astro
  src/pages/about.astro
  src/pages/index.astro
  src/pages/posts.astro
  src/pages/projects.astro
  src/pages/quotes.astro
  src/pages/search.astro
  src/pages/til.astro
  src/styles/global.css
Due: eslint --fix, prettier --write, stylelint --fix

style(ui): set article prose in crimson pro
  src/layouts/BaseLayout.astro
  src/styles/global.css
Due: eslint --fix, prettier --write, stylelint --fix

style(ui): switch article prose to eb garamond
  src/layouts/BaseLayout.astro
  src/styles/global.css
Due: eslint --fix, prettier --write, stylelint --fix

feat(ui): japanese-inspired minimal theme (#24)
  astro.config.mjs
  public/search-data.json
  src/components/Card.astro
  src/components/PageSearchModal.astro
  src/components/Search.astro
  src/components/ThemeToggle.astro
  src/layouts/BaseLayout.astro
  src/layouts/PostLayout.astro
  src/pages/404.astro
  src/pages/about.astro
  src/pages/index.astro
  src/pages/posts.astro
  src/pages/projects.astro
  src/pages/quotes.astro
  src/pages/search.astro
  src/pages/til.astro
  src/styles/global.css
Due: eslint --fix, prettier --write, stylelint --fix

fix(posts): call the page search handlers that exist
  src/pages/posts.astro
Due: eslint --fix, prettier --write, stylelint --fix

fix(mermaid): redraw diagrams when the theme changes
  src/layouts/PostLayout.astro
Due: eslint --fix, prettier --write, stylelint --fix

fix: posts keyboard shortcuts and mermaid theme switching (#25)
  src/layouts/PostLayout.astro
  src/pages/posts.astro
Due: eslint --fix, prettier --write, stylelint --fix

feat: optimize staged images in the pre-commit hook
  .lintstagedrc.json
  CONTRIBUTING.md
  bun.lock
  optimize-images.js
  package.json
Due: eslint --fix, prettier --write

feat: optimize staged images in the pre-commit hook (#26)
  .lintstagedrc.json
  CONTRIBUTING.md
  bun.lock
  optimize-images.js
  package.json
Due: eslint --fix, prettier --write

chore(deps): update dependencies within current ranges
  bun.lock
  package.json
Due: prettier --write

chore(deps): remove unused codemirror and playwright packages
  bun.lock
  package.json
Due: prettier --write

chore(deps): update dependencies within current ranges (#27)
  bun.lock
  package.json
Due: prettier --write

chore(deps): remove unused codemirror and playwright packages (#29)
  bun.lock
  package.json
Due: prettier --write
