Repository asdf8601/asdfff.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

refactor: fix search indexing, remove dead code, and simplify visual design
  generate-search-data.js
  public/search-data.json
  src/components/Card.astro
  src/components/PageSearchModal.astro
  src/components/Search.astro
  src/layouts/BaseLayout.astro
  src/layouts/PostLayout.astro
  src/pages/posts/card-demo.mdx
  src/pages/posts/grid-demo.mdx
  src/pages/posts/math-demo.mdx
  src/pages/posts/mermaid-demo.mdx
  src/pages/posts/podman-compose-up-credentials-error.mdx
  src/pages/posts/python-314.mdx
  src/pages/posts/reading-emotions-an-indian-perspective.mdx
  src/pages/posts/start-stop-jobs-in-background.mdx
  src/pages/posts/yaml-indentless-arrays.mdx
  src/pages/projects.astro
  src/pages/quotes.astro
  src/pages/til.astro
  src/styles/global.css
Due: eslint --fix, prettier --write, stylelint --fix

feat: redesign TIL page as vertical timeline
  src/pages/til.astro
Due: eslint --fix, prettier --write, stylelint --fix

feat(posts): migrate posts from Hugo blog
  public/search-data.json
  src/pages/posts/breathing-exercises.mdx
  src/pages/posts/clean-code-es-lento.mdx
  src/pages/posts/dbee-nvim.mdx
  src/pages/posts/graphic-tablets.mdx
  src/pages/posts/hotelling.mdx
  src/pages/posts/huberman-salt.mdx
  src/pages/posts/hugo.mdx
  src/pages/posts/i3-graphics-monitor-issues.mdx
  src/pages/posts/maximizing-productivity.mdx
  src/pages/posts/setup-dns-gh-pages-google-domains.mdx
  src/pages/posts/you-dont-unitest.mdx
Due: prettier --write

feat(posts): migrate posts from Hugo blog (#12)
  public/search-data.json
  src/pages/posts/breathing-exercises.mdx
  src/pages/posts/clean-code-es-lento.mdx
  src/pages/posts/dbee-nvim.mdx
  src/pages/posts/graphic-tablets.mdx
  src/pages/posts/hotelling.mdx
  src/pages/posts/huberman-salt.mdx
  src/pages/posts/hugo.mdx
  src/pages/posts/i3-graphics-monitor-issues.mdx
  src/pages/posts/maximizing-productivity.mdx
  src/pages/posts/setup-dns-gh-pages-google-domains.mdx
  src/pages/posts/you-dont-unitest.mdx
Due: prettier --write

feat(posts): add uv-makefile post
  public/search-data.json
  src/pages/posts/uv-makefile.mdx
Due: prettier --write

feat(posts): add uv-makefile post (#13)
  public/search-data.json
  src/pages/posts/uv-makefile.mdx
Due: prettier --write

feat(search): replace inline dropdown with results page
  public/search-data.json
  src/components/Search.astro
  src/pages/search.astro
Due: eslint --fix, prettier --write, stylelint --fix

feat(search): replace inline dropdown with results page (#15)
  public/search-data.json
  src/components/Search.astro
  src/pages/search.astro
Due: eslint --fix, prettier --write, stylelint --fix

feat(search): improve results page with metadata and ranking
  generate-search-data.js
  public/search-data.json
  src/pages/search.astro
Due: eslint --fix, prettier --write, stylelint --fix

feat(search): improve results page with metadata and ranking (#16)
  generate-search-data.js
  public/search-data.json
  src/pages/search.astro
Due: eslint --fix, prettier --write, stylelint --fix

feat(ui): soften palette, add code copy buttons, polish details
  src/layouts/BaseLayout.astro
  src/pages/posts.astro
  src/pages/til.astro
  src/styles/global.css
Due: eslint --fix, prettier --write, stylelint --fix

feat(ui): soften palette, add code copy buttons, polish details (#17)
  src/layouts/BaseLayout.astro
  src/pages/posts.astro
  src/pages/til.astro
  src/styles/global.css
Due: eslint --fix, prettier --write, stylelint --fix

feat(ui): polish palette, add expressive-code, fix mermaid
  astro.config.mjs
  bun.lock
  package.json
  public/search-data.json
  src/components/Mermaid.astro
  src/components/Search.astro
  src/layouts/BaseLayout.astro
  src/layouts/PostLayout.astro
  src/pages/index.astro
  src/pages/posts.astro
  src/pages/posts/diagrams-neovim.mdx
  src/pages/posts/mermaid-demo.mdx
  src/pages/posts/neovim-run-commands.mdx
  src/pages/search.astro
  src/styles/global.css
Due: eslint --fix, prettier --write, stylelint --fix

feat(ui): polish palette, add expressive-code, fix mermaid (#18)
  astro.config.mjs
  bun.lock
  package.json
  public/search-data.json
  src/components/Mermaid.astro
  src/components/Search.astro
  src/layouts/BaseLayout.astro
  src/layouts/PostLayout.astro
  src/pages/index.astro
  src/pages/posts.astro
  src/pages/posts/diagrams-neovim.mdx
  src/pages/posts/mermaid-demo.mdx
  src/pages/posts/neovim-run-commands.mdx
  src/pages/search.astro
  src/styles/global.css
Due: eslint --fix, prettier --write, stylelint --fix

fix(mermaid): stop copy button breaking flowchart diagrams
  src/layouts/BaseLayout.astro
  src/pages/posts/reading-emotions-an-indian-perspective.mdx
Due: eslint --fix, prettier --write, stylelint --fix

fix(mermaid): stop copy button breaking flowchart diagrams (#19)
  src/layouts/BaseLayout.astro
  src/pages/posts/reading-emotions-an-indian-perspective.mdx
Due: eslint --fix, prettier --write, stylelint --fix

docs(til): complete grep -b example
  src/pages/til/grep.md
Due: prettier --write

docs(til): complete grep -b example (#20)
  src/pages/til/grep.md
Due: prettier --write

fix(ui): wrap long links instead of widening the page
  src/styles/global.css
Due: prettier --write, stylelint --fix

fix(til): link search to timeline anchors, drop bare TIL pages
  generate-search-data.js
  public/search-data.json
  src/content/til/grep.md
  src/content/til/mfussenegger.md
  src/content/til/neovim-opt-exrc.md
  src/content/til/sutta-central.md
  src/pages/index.astro
  src/pages/til.astro
Due: eslint --fix, prettier --write, stylelint --fix

feat(ui): default theme to the OS color scheme
  src/layouts/BaseLayout.astro
Due: eslint --fix, prettier --write, stylelint --fix

feat(til): make the entry number a plain permalink
  src/pages/til.astro
Due: eslint --fix, prettier --write, stylelint --fix

fix(ui): limit link wrapping to article content
  src/styles/global.css
Due: prettier --write, stylelint --fix

refactor(til): replace the timeline with a plain list
  src/pages/til.astro
Due: eslint --fix, prettier --write, stylelint --fix

feat(til): show the date on every entry
  src/pages/til.astro
Due: eslint --fix, prettier --write, stylelint --fix

feat(til): give each TIL a title
  public/search-data.json
  src/content/til/grep.md
  src/content/til/mfussenegger.md
  src/content/til/neovim-opt-exrc.md
  src/content/til/sutta-central.md
  src/pages/index.astro
  src/pages/til.astro
Due: eslint --fix, prettier --write, stylelint --fix

feat(ui): hint at the keyboard shortcuts in the footer
  src/layouts/BaseLayout.astro
Due: eslint --fix, prettier --write, stylelint --fix

refactor(til): trim the intro line
  src/pages/til.astro
Due: eslint --fix, prettier --write, stylelint --fix

chore(search): regenerate search data
  public/search-data.json
Due: prettier --write

feat(til): separate entries with a rule
  src/pages/til.astro
Due: eslint --fix, prettier --write, stylelint --fix

style(til): add 10% more space between entries
  src/pages/til.astro
Due: eslint --fix, prettier --write, stylelint --fix

style(til): widen the space between entries
  src/pages/til.astro
Due: eslint --fix, prettier --write, stylelint --fix

fix(ui): keep post media, code, math and diagrams inside the column
  src/components/Mermaid.astro
  src/styles/global.css
Due: eslint --fix, prettier --write, stylelint --fix

chore(til): fix prettier formatting and an unused variable
  generate-search-data.js
  src/pages/til.astro
Due: eslint --fix, prettier --write, stylelint --fix

feat(til): simplify the TIL page and fix mobile, search and theme (#21)
  generate-search-data.js
  public/search-data.json
  src/content/til/grep.md
  src/content/til/mfussenegger.md
  src/content/til/neovim-opt-exrc.md
  src/content/til/sutta-central.md
  src/layouts/BaseLayout.astro
  src/pages/index.astro
  src/pages/til.astro
  src/pages/til/sutta-central.md
  src/styles/global.css
Due: eslint --fix, prettier --write, stylelint --fix

fix(ui): keep post media, code, math and diagrams inside the column (#22)
  src/components/Mermaid.astro
  src/styles/global.css
Due: eslint --fix, prettier --write, stylelint --fix

fix(quotes): link search to quote anchors, drop bare quote pages
  generate-search-data.js
  public/search-data.json
  src/content/quotes/example.md
  src/content/quotes/gautama-buda-dhammapada-los-sabios-se-dirigen-a-si-mismos.md
  src/pages/index.astro
  src/pages/quotes.astro
Due: eslint --fix, prettier --write, stylelint --fix

docs(til): use Lua comments in the exrc snippets
  public/search-data.json
  src/content/til/neovim-opt-exrc.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,mjs,cjs,ts,astro}
  prettier --write: (((any of: *.{js,mjs,cjs,ts,astro}) or (any of: *.css)) or (any of: *.astro)) or (any of: *.{json,md,mdx})
  stylelint --fix: (any of: *.css) or (any of: *.astro)
