Repository asdf8601/asdfff.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cspell --no-must-find-files

.lintstagedrc.json:

{
  "*.{js,mjs,cjs,ts,astro}": ["eslint --fix", "prettier --write"],
  "*.{json,md,mdx,css}": ["prettier --write"],
  "*.{js,ts,astro,json,md,mdx,css}": ["cspell --no-must-find-files"]
}

feat: add commitlint, pre-push hook, editorconfig and CI workflow
  .commitlintrc.json
  .editorconfig
  .github/workflows/ci.yml
  .husky/commit-msg
  .husky/pre-push
  CONTRIBUTING.md
  bun.lock
  package.json
  public/search-data.json
Due: prettier --write, cspell --no-must-find-files

chore: add clean script for cache management
  package.json
Due: prettier --write, cspell --no-must-find-files

refactor: replace deprecated Astro.glob with import.meta.glob
  src/pages/index.astro
  src/pages/posts.astro
  src/pages/quotes.astro
  src/pages/til.astro
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: disable global keymaps when focused on CodeMirror editor
  src/layouts/BaseLayout.astro
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat: remove standalone t keymap, preserve gt/gT for page navigation
  src/layouts/BaseLayout.astro
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat: allow gt/gT/g[0-9] navigation keymaps to work in editor
  src/layouts/BaseLayout.astro
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat: add stylelint for css linting with astro support
  .lintstagedrc.json
  .stylelintrc.json
  bun.lock
  package.json
Due: prettier --write, cspell --no-must-find-files

feat: remove editor page and related navigation
  public/search-data.json
  src/layouts/BaseLayout.astro
  src/pages/editor.astro
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat: add random TIL or quote display on home page
  public/search-data.json
  src/pages/index.astro
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: add missing stylelint dependencies to package.json
  bun.lock
  package.json
Due: prettier --write, cspell --no-must-find-files

feat: change random TIL/quote to client-side randomization
  public/search-data.json
  src/pages/index.astro
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat: add component enhancements and restructure post metadata
  cspell.json
  public/search-data.json
  src/components/Grid.astro
  src/components/GridItem.astro
  src/components/Mermaid.astro
  src/pages/posts.astro
  src/pages/posts/card-demo.mdx
  src/pages/posts/grid-demo.mdx
  src/pages/posts/k-debug.mdx
  src/pages/posts/math-demo.mdx
  src/pages/posts/mermaid-demo.mdx
  src/pages/posts/python-314.mdx
  src/pages/posts/reading-emotions-an-indian-perspective.mdx
  src/pages/posts/start-stop-jobs-in-background.mdx
  src/styles/global.css
Due: eslint --fix, prettier --write, cspell --no-must-find-files

chore: update
  src/pages/posts/reading-emotions-an-indian-perspective.mdx
Due: prettier --write, cspell --no-must-find-files

chore: update
  src/components/Mermaid.astro
Due: eslint --fix, prettier --write, cspell --no-must-find-files

update
  .prettierrc
  src/components/Mermaid.astro
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat: update
  src/pages/posts/reading-emotions-an-indian-perspective.mdx
Due: prettier --write, cspell --no-must-find-files

update
  src/pages/posts/reading-emotions-an-indian-perspective.mdx
Due: prettier --write, cspell --no-must-find-files

refactor: improve visual hierarchy and spacing throughout site
  public/search-data.json
  src/components/Search.astro
  src/layouts/BaseLayout.astro
  src/pages/index.astro
  src/pages/posts.astro
  src/pages/quotes.astro
  src/pages/til.astro
  src/styles/global.css
Due: eslint --fix, prettier --write, cspell --no-must-find-files

chore: remove cspell and fix quote file formatting
  .github/workflows/ci.yml
  .lintstagedrc.json
  bun.lock
  cspell.json
  package.json
  src/pages/quotes/gautama-buda-dhammapada-los-sabios-se-dirigen-a-si-mismos.mdx
Due: prettier --write, cspell --no-must-find-files

fix: resolve linting errors and format issues
  generate-search-data.js
  src/components/PageSearchModal.astro
  src/layouts/PostLayout.astro
  src/pages/posts/reading-emotions-an-indian-perspective.mdx
  src/pages/quotes.astro
  src/pages/til.astro
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: include mdx files in quotes glob pattern
  src/pages/quotes.astro
Due: eslint --fix, prettier --write, cspell --no-must-find-files

docs: update about
  src/pages/about.astro
Due: eslint --fix, prettier --write, cspell --no-must-find-files

docs: update about
  public/search-data.json
Due: prettier --write, cspell --no-must-find-files

feat: fix mermaid
  src/pages/posts/reading-emotions-an-indian-perspective.mdx
Due: prettier --write, cspell --no-must-find-files

chore: exclude content directories from prettier formatting
  .prettierignore
Due: none

feat: add til
  src/pages/til/sutta-central.md
Due: prettier --write, cspell --no-must-find-files

feat: add til
  public/search-data.json
Due: prettier --write, cspell --no-must-find-files

feat(search-data): add new entry for loading local .nvim.lua
  public/search-data.json
  src/pages/til/neovim-opt-exrc.md
Due: prettier --write, cspell --no-must-find-files

feat(til): add Michael Fussenegger's Neovim-related blog
  src/pages/til/mfussenegger.md
Due: prettier --write, cspell --no-must-find-files

chore(search-data): regenerate with mfussenegger TIL entry
  public/search-data.json
Due: prettier --write, cspell --no-must-find-files

feat(pre-commit): auto-generate search data before commit
  .husky/pre-commit
Due: none

update
  public/search-data.json
  src/pages/til/neovim-opt-exrc.md
Due: prettier --write, cspell --no-must-find-files

feat: new post
  src/pages/posts/podman-compose-up-credentials-error.mdx
Due: prettier --write, cspell --no-must-find-files

fix: filter JSX code from search index
  generate-search-data.js
  public/search-data.json
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat(posts): add tutorial for yaml indentless arrays
  src/pages/posts/yaml-indentless-arrays.mdx
Due: prettier --write, cspell --no-must-find-files

feat: new post
  src/pages/posts/train-on-servers.mdx
Due: prettier --write, cspell --no-must-find-files

feat: new post
  src/pages/posts/process-substitution.mdx
Due: prettier --write, cspell --no-must-find-files
